.hero-banner{
    background-color: #182745;
    background-image: url(/assets/images/banner-image.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 140px;
    width: 100%;
}

.white-neutral{
    color: #fff;
}

.custom-title{
    font-size: 4rem;
}