<header>
    <div class="d-flex flex-column container-lg pt-2 text-end">
        <div class="language-tabs" class="border-bottom pb-1">
            <button type="button" class="btn body-small-text ms-2" [ngClass]="{ 'btn-primary': currentLang === lang }" *ngFor="let lang of supportedLanguages" (click)="switchLanguage(lang)">
                {{ lang | uppercase }}
            </button>
        </div>
        <div class="d-flex justify-content-between align-items-center py-lg-3 py-1 px-0 border-bottom">
            <img alt="FOD Justitie Logo" class="d-none d-xl-block w-auto" loading="lazy" src="../../../assets/images/{{currentLang}}/justicelogo_fgov.svg">
            <div class="tapfiles">
                <div class="tab" *ngFor="let tab of tabs" [class.active]="currentTab === tab.key" (click)="switchTab(tab.key)">
                  {{ tab.translationKey | translate }}
                </div>
            </div>
        </div>
    </div>
</header>



