.d-flex{
    padding-bottom: 4px !important;
}

.tapfiles{
    display: flex;
    margin-top: 35px;
    justify-content: left;
}

.tab {
    cursor: pointer;
    font-size: 14px;
    padding: 10px 15px;
    margin-right: 20px;
  }

  .tab:hover {
    color: #007bff;
  }

  .tab.active {
    color: #007bff;
    border-bottom: 2px solid #007bff;
  }