<header>
    <div class="d-flex flex-column container-lg pt-2 text-end">
        <div class="language-tabs" class="border-bottom pb-1">
            <button type="button" class="btn body-small-text ms-2" [ngClass]="{'btn-primary' : currentLang === 'nl'}" (click)="switchLanguage('nl')">{{ 'NL' | translate }}</button>
            <button type="button" class="btn body-small-text ms-2" [ngClass]="{'btn-primary' : currentLang === 'fr'}" (click)="switchLanguage('fr')">{{ 'FR' | translate }}</button>
            <button type="button" class="btn body-small-text ms-2" [ngClass]="{'btn-primary' : currentLang === 'de'}" (click)="switchLanguage('de')">{{ 'DE' | translate }}</button>
            <button type="button" class="btn body-small-text ms-2" [ngClass]="{'btn-primary' : currentLang === 'en'}" (click)="switchLanguage('en')">{{ 'EN' | translate }}</button>
        </div>
        <div class="d-flex justify-content-between align-items-center py-lg-3 py-1 px-0 border-bottom">
            <img alt="FOD Justitie Logo" class="d-none d-xl-block w-auto" loading="lazy" src="../../../assets/images/{{currentLang}}/justicelogo_fgov.svg">
            <div class="tapfiles">
                <div class="tab" [class.active]="currentTab === 'dossiers'" (click)="switchFile('dossiers')">{{ 'FILES' | translate }}</div>
                <div class="tab" [class.active]="currentTab === 'nieuwe dossiers'" (click)="switchFile('nieuwe dossiers')">{{ 'NEWFILES' | translate }}</div>
                <div class="tab" [class.active]="currentTab === 'mijn taken'" (click)="switchFile('mijn taken')">{{ 'MYTASKS' | translate }}</div>
            </div>
        </div>
    </div>
</header>



